@page "/{Id:int}"

<style>
    .hero .front-content .container-mid {
        overflow: hidden;
    }
</style>
@if (_monthDetail is not null)
{
    <section id="hero" class="hero hero-2">
        <div class="front-content page-enter-animated">
            <div class="container-mid">
                <div class="inner 3d-hover">
                    @* <img class="img-responsive logo" src="themes/images/logo-hero.png" alt="logo"> *@
                    <h1 style="line-height: normal;">@_monthDetail.MonthMm</h1>
                </div>
            </div>
            <div class="scroll-down"></div>
            <div class="controls"> <i class="volume-button fa fa-volume-up"></i> <i class="pause-button ti-control-pause"></i> </div>
        </div>
        <div class="background-content page-enter-animated">
            <div class="level-1">
                <div class="bg-overlay"></div>
                <div class="bg-pattern"></div>
                <div id="canvas">
                    <canvas class="bg-effect layer" data-depth="0.2"></canvas>
                </div>
            </div>
            <div class="level-2">
                <div class="dzsparallaxer auto-init allbody" data-options="{mode_scroll: 'fromtop', animation_duration: '2' , direction: 'reverse'}">
                    <div class="dzsparallaxer--target">
                        <div class="bg-image layer" data-depth="0.04"></div>
                        <div class="bg-video layer" data-depth="0.04"></div>
                        <div class="bg-color layer" data-depth="0.04"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="content bg-white block-about-1 padding-top-140 padding-bot-130">
            <div class="container text-left">
                <div class="header text-center scroll-animated-from-bottom">
                    <h1>@_monthDetail.MonthMm (@_monthDetail.MonthEn)</h1><br />
                    <h1 class="mb-5">@_monthDetail.FestivalMm (@_monthDetail.FestivalEn)</h1>
                    <MudButton Variant="Variant.Outlined" @onclick="Back">Back</MudButton>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img class="img-responsive scroll-animated-from-bottom" src="themes/images/months/@(_monthDetail.Id).jpg" alt="image">
                        <p class="scroll-animated-from-bottom"> @_monthDetail.Description </p>
                    </div>
                    <div class="col-sm-6">
                        @* <h3 class="scroll-animated-from-bottom"><br></h3> *@
                        <p class="scroll-animated-from-bottom"> @_monthDetail.Detail </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
}